<mat-card>
    <mat-card-header>
        <mat-card-title>Mosbach - aktuelles Wetter</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="20px">
            <mat-grid-tile colspan="1" rowspan="5">
                <img src="http://openweathermap.org/img/wn/{{WeatherNow.weather[0].icon}}@2x.png" />
                <span class="temp">{{WeatherNow.main.temp | number:'1.0-0'}}</span>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-icon>wb_cloudy</mat-icon>
                <p class="sub">{{WeatherNow.weather[0].description}}</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-icon>trending_up</mat-icon>
                <p class="sub">{{WeatherNow.main.temp_min | number:'1.0-0'}} °C - {{WeatherNow.main.temp_max | number:'1.0-0'}} °C</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-icon>opacity</mat-icon>
                <p class="sub">{{WeatherNow.main.humidity}}%</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-icon>cloud_queue</mat-icon>
                <p class="sub">{{WeatherNow.clouds.all}}%</p>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-icon>toys</mat-icon>
                <p class="sub">{{WeatherNow.wind.speed}}m/s</p>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>