mat-card {
    width: 38%;
    margin: 5px;
    float: left;
}

.temp {
    font-size: 300%;
    color: rgba(255, 255, 255, .7);
}

.sub {
    font-size: 90%;
    color: rgba(255, 255, 255, .7);
    width: 100%;
    margin-left: 5px;
}